### open file

In [4]:
import pandas as pd

# Since dataset.csv is in the 'data' folder and your notebook is in 'notebooks'
df = pd.read_csv('../data/processed/cleaned_20250927_192521.csv')

# Display the data
df.head()

,Tweet ID,Text,User,Created At,Likes,Retweets,Sentiment,clean_text,label
0,449211727471646420,Feeling grateful for my friends and family.,werickson,2023-01-13 00:35:08,156,489,positive,feeling grateful friend family,2
1,519036665081652813,Going for a walk in the park.,jennybutler,2023-02-16 06:24:30,223,788,neutral,going walk park,1
2,776023316169815671,I hate it when things don't go my way.,william88,2023-01-24 18:12:37,332,860,negative,hate thing go way,0
3,674750468135750054,I hate it when things don't go my way.,lawrencebauer,2023-02-09 07:14:24,388,881,negative,hate thing go way,0
4,859726107390311299,This is the best day ever!,gerald07,2023-02-28 06:55:54,255,567,positive,best day ever,2